/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .mobile-nav-icon {
    display: none;
  }
}

/* Small tablet to big tablet: from 768px to 1042px */
@media only screen and (max-width: 1042px) {
  .footer-icons {
    color: #fff;
    font-size: 130%;
    margin-right: 10px;
  }

  .mobile-menu {
    display: none;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .side-box {
    font-size: 70%;
    display: none;
  }

  /* .mobile-menu {
    display: block;
  } */

  #main-doc {
    /*display:grid;
          grid-template-columns:1fr 2fr 1fr;
          grid-auto-rows:minmax(100px, auto);
          grid-gap:1em;*/
    /*justify-items:stretch;*/
    /*align-items:stretch;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    overflow: none;
  }

  .main-box {
    font-size: 90%;
  }

  .nav-link-bigger {
    display: none;
  }

  .nav-input {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
    font-size: 120%;
    color: #fff;
  }
  code {
    font-size: 90%;
    width: 90%;
    margin-left: 5%;
    padding: 0;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  #main-doc {
    /*display:grid;
          grid-template-columns:1fr 2fr 1fr;
          grid-auto-rows:minmax(100px, auto);
          grid-gap:1em;*/
    /*justify-items:stretch;*/
    /*align-items:stretch;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    overflow: none;
  }

  .main-box {
    font-size: 80%;
  }

  .main-box section {
    width: 80%;
    margin-left: 5%;
  }

  #navbar {
    width: 100%;
    overflow: hidden;
  }

  .mobile-nav-icon {
    display: block;
    font-size: 120%;
    color: #fff;
  }

  .side-box {
    display: none;
  }

  code {
    font-size: 70%;
    width: 90%;
    margin-left: 5%;
    padding: 0;
  }

  .nav-input {
    display: none;
  }
}
