/*=====================
==========basic-config==========
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}

/* ul li {
  list-style: none;
} */
/*===============================
==========css-variables==========
================================= */
:root {
  /* --main-bg-color: #0984e3; */
  --main-bg-color: #27ae60;
  --secondary-bg-color: #219251;
  --code-bg-color: #ecf0f1;
  --main-padding-gap: 20px;
}

/*=======================================
==========basic-config-main-box==========
========================================= */

#main-doc {
  /*display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;*/
  /*justify-items:stretch;*/
  /*align-items:stretch;*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row-gap: 1em;
}

#main-doc .main-box section {
}

.main-box section p,
.main-box section ul li {
  line-height: 135%;
  font-size: 90%;
  margin-bottom: 30px;
  width: 80%;
  margin-left: 10%;
}

.main-box section ul li {
  list-style-position: inside;
}

.main-box h2 {
  width: 80%;
  margin-left: 10%;
}

code {
  margin-bottom: 20px;
  display: block;
  width: 90%;
  margin-left: 5%;
  white-space: pre;
  text-align: left;
  position: relative;
  /* word-break: normal;
  word-wrap: normal; */
  line-height: 145%;
  background-color: var(--code-bg-color);
  border-radius: 5px;
  font-size: 90%;
  color: #555;
  border: 1px solid var(--secondary-bg-color);
}

/* #main-doc > div {
  padding: 15px;
} */
.main-box {
  border: 3px solid green;
  background-color: #fff;
}
.side-box {
  border: 3px solid red;
  height: 92vh;
  position: sticky;
  /* box-sizing: border-box; */
  top: 65px;
  background-color: #ecf0f1;
  padding: 15px;
  /* color: #000; */
}
/* .row {
  max-width: 1140px;
  margin: 0 auto;
} */

.ref-link {
  color: #000;
}

.ref-link:hover {
  color: #555;
}

.mobile-menu {
  display: none;
}

.mobile-menu ul a {
  /* display: none; */
  color: #fff;
  list-style: none;
  font-size: 80%;
  cursor: pointer;
  transition: color 0.3s;
}

.mobile-menu ul a:hover {
  color: #555;
}

hr {
  width: 90%;
  margin-left: 5%;
}
/*=====================
==========headings==========
======================= */
h2 {
  margin: 20px 0;
  font-size: 180%;
}

h3 {
  margin: 50px 0 10px 0;
  font-size: 120%;
}

h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 90%;
}

/*=====================
==========icons==========
======================= */
/* .ion-logo-javascript,
.ion-logo-github,
.ion-logo-twitter,
.ion-logo-codepen,
.ion-logo-instagram,
.ion-logo-facebook, */
.nav-icons {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 130%;
}

.footer-icons {
  color: #fff;
  font-size: 130%;
  margin-right: 20px;
}

.icon-link {
  font-size: 170%;
}

/* .ion-logo-github:hover,
.ion-logo-twitter:hover,
.ion-logo-codepen:hover,
.ion-logo-instagram:hover,
.ion-logo-facebook:hover, */
.nav-icons:hover,
.footer-icons:hover {
  color: #eee;
  cursor: pointer;
}
/*=====================
==========navbar==========
======================= */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: var(--main-bg-color);
  color: #fff;
  -webkit-box-shadow: 2px 1px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 1px 10px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
  position: sticky;
  top: 0;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

.doc-link {
  margin-right: 25px;
  transition: all 0.3s;
}

.doc-link:hover {
  color: #eee;
}

.nav-link-bigger {
  width: 50%;
}

.nav-link input {
  border-radius: 15px;
  border: none;
  height: 35px;
  width: 190px;
  padding: 10px;
  font-size: 80%;
  color: green;
  outline: none;
}
/*=====================
==========side-nav==========
======================= */
.side-box ul li {
  margin-bottom: 5px;
  font-size: 90%;
  list-style: none;
  margin-bottom: 10px;
}

.side-box ul a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
  font-weight: 100;
}

.side-box ul a:hover {
  color: #444;
}

/*=====================
==========footer==========
======================= */
footer {
  background: var(--main-bg-color);
  padding: 10px 0;
  color: #fff;
  font-weight: 100;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer i {
  margin: 0;
}

footer ul li {
  font-size: 80%;
  list-style: none;
}

footer ul a {
  color: #fff;
  transition: all 0.3s;
}

footer ul a:hover {
  color: #ecf0f1;
}

.footer-text {
  font-size: 70%;
  margin-top: 5px;
}
